body {
  font-family: 'Open Sans', sans-serif !important;
}

h1, .fugaz {
  font-family: 'Fugaz One', cursive;

}

@media (max-width: 645px) {
  h1 {
    padding-left: 15px;
  }
}


@media (min-width: 1200px) {
  .site-main {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
  }

  #wrapper-footer-full {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
  }
}

a#start-button {
  text-decoration: none;
}

#start-button button:before {
  content: "»";
  font-size: 60px;
  bottom: 10px;
  position: absolute;
  height: 100%;
  transition: all 0.5s;
  left: 120%;
  top: 0;
  color: $eggshell;
}

#start-button button:hover:before  {
  left: 80%;
}

#start-button button:active:before  {
  left: 120%;
}

#start-button button {
  color: $eggshell;
  background-color: $blue;
  border: $blue;
  font-size: 32px;
  font-weight: 600;
  padding: 15px;
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
